<div id="error-message"> Title is missing </div>
<%= form_with(model: @article, html: {novalidate: true, class: 'form', id: 'article-form'}) do |form| %>

  <%= form.hidden_field :period_id, :value => @article.period_id%>

  <%=form.label :title, 'Título', :class => 'label', :id => 'title-label' %>
  <%= form.text_field :title, autofocus: true, :id => 'title-field', :required => true, :pattern=> ".{6,}" %>

  <%=form.label :text, 'Cuerpo del artículo' %>
  <%= form.text_area :text %>

  <%= form.submit 'Guardar artículo' %>
 
<% end %>