<%= form_with(model: @article, html: {novalidate: true, class: 'form', id: 'article-form'}) do |form| %>
  <%= form.hidden_field :period_id, :value => @article.period_id%>

  <%=form.label :title, 'Título', :class => 'label', :id => 'title-label' %>
  <%= form.text_field :title, autofocus: true, :class => 'field', :id => 'title-field', :required => true, :pattern => '.{6,}' %>
  <div class='error' id="error"> Título no es valido </div></br>

  <%=form.label :text, 'Cuerpo del artículo', :class => 'label', :id => 'article-label' %>
  <%= form.text_area :text, :class => 'field', :id => 'article-field', :required => true, :pattern => '.{6,}' %>
  <div class='error' id="error">Artículo no es valido </div>

  <%= form.submit 'Guardar artículo' %>
 
<% end %>