<%= form_with(model: @article) do |form| %>
 
  <% if @article.errors.any? %>
  <div id="error_explanation">
    <h2>
    <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
    </h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= form.hidden_field :period_id, :value => @article.period_id%>

  <div><%=form.label 'Título' %>
  <%= form.text_field :title %>
  <%=form.label 'Cuerpo del artículo' %>
  <%= form.text_area :text %>
  <%= form.submit 'Guardar artículo' %>
 
<% end %>