
<h1>New Article</h1>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
 
  </div>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </div>
 
  <div>
    <%= form.submit %>
  </div>
<% end %> 

<%= link_to 'Back', articles_path%></br>
<%= link_to 'Homepage', root_path %>
<!-- <form action="/my-handling-form-page" method="post">
    <div>
        <label for="title">Name:</label>
        <input type="text" id="name" name="user_name">
    </div>
    <div>
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" name="user_mail">
    </div>
    <div>
        <label for="msg">Message:</label>
        <textarea id="msg" name="user_message"></textarea>
    </div>
</form> -->