<div>
	<strong><%= @article.title %></strong> </div> 
</div>

<div>
	<%= @article.text %>
</div>

<%= link_to 'Back', articles_path %></br>
<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to "Homepage", root_path %>