<% if admin_signed_in? %>
	<%= form_with(model: @period) do |form| %>
	  <p>
	    <%= form.label :title %><br>
	    <%= form.text_field :title %>
	  </p>
	  <p>
	    <%= form.submit %>
	  </p>
	<% end %>
<% else %>
	<a><%= link_to "Log in", new_admin_session_path %></a> 
<% end %>
