<header>
  <h2>New Historic Period</h2>
</header>

<% if admin_signed_in? %>
  <div id="error-message"> Title is missing </div>
  <%= form_with(model: @period, html: {novalidate: true, class: 'form', id: 'new_period_form'}) do |form| %>    
    <%=form.label :title, 'Título', :class => 'label', :id => 'title-label'%>
    <%= form.text_field :title, autofocus: true, :id => "title-field", :required => true, :pattern => ".{6,}"%>
    <%= form.submit 'Crear periodo' %>
  <% end %>
<% else %>
  <%= link_to "Log in", new_admin_session_path %>
<% end %> 
