<header>
  <h2>New Historic Period</h2>
</header>

<div class="new_period_form">
  <% if admin_signed_in? %>
    <%= form_with(model: @period) do |form| %>
      <% if @period.errors.any? %>
        <div id="error_explanation">
        <div class="alert alert-danger">The form contains <%= pluralize(@period.errors.details.count, "error") %>.
        </div>  
      <% else %>
        <div>tonto</div>        
      <% end %>
      
      <div><%=form.label :title, 'Título' %>
      <%= form.text_field :title, autofocus: true%>
      <%= form.submit 'Crear periodo' %></div>
    <% end %>
  <% else %>
    <%= link_to "Log in", new_admin_session_path %>
  <% end %> 
</div>