<header class="header period-header">
  <%= react_component('TitleWithLink', @props ) %>
</header>

<div class="sections">
  <div class="section section_articulos">
    <h2>Artículos</h2>
    <% if @articles.size > 0 %>
      <div class="list articles_list">
        <%= render :partial => "aplication/article", :collection => @articles %>
      </div>
      <div class="more more-articules"><%= link_to "Más artículos", articles_path(period_id: @period) %></div>
    <% else %>
      <p class="empty">Viene pronto</p>
    <% end %>
  </div>

  <div class="section section_personajes">
    <h2>Personajes</h2>
    <% if @characters.size > 0 %>
      <div class="list characters-list">
        <%= render :partial => "aplication/character", :collection => @characters %>
      </div>
      <div class="more more-characters"><%= link_to "Más personajes", characters_path(period_id: @period) %></div>
    <% else %>
        <p class="empty">Viene pronto</p>
    <% end %>
  </div>

  <div class="section section_galeria">
    <h2>Galeria</h2>
  </div>

  <div class="section section_bibliografia">
    <h2>Bibliografia</h2>
  </div>
</div>

