<header class="period-header">
	<h1><%= @period.title %><a class="edit-link"><%= link_to "Edit", edit_period_path(@period)%></a></h1>
</header>

<div class="seccions">
	<div class="seccion seccion_articulos">
		<h2>Articulos</h2>
		<div id="articles_list">
			<%= render :partial => "aplication/article", :collection => @articles %>
		</div>
		<div class="more-articules"><%= link_to "More articles", articles_path(period_id: @period) %></div>
	</div>

	<div class="seccion seccion_personajes">
		<h2>Personajes</h2>
		<div id="characters-list">
			<% @period.characters.each do |c|%>
				<div><%= link_to c.name, character_path(c) %></div>
			<% end %>
		</div>
		<%= link_to "new characters", new_character_path(period_id: @period) %>
	</div>

	<div class="seccion seccion_galeria">
		<h2>Galeria</h2>
	</div>

	<div class="seccion seccion_bibliografia">
		<h2>Bibliografia</h2>
	</div>
</div>

