<%= react_component('TitleWithLink', @props ) %>

<div class="sections">
  <div class="section section_articulos">
    <h2>Artículos</h2>
    <% if @articles.size > 0 %>
      <%= react_component('List', @props[:articles])%>
      <%= react_component('MoreLink', @props[:articles])%>
    <% else %>
      <p class="empty">Viene pronto</p>
    <% end %>
  </div>

  <div class="section section_personajes">
    <h2>Personajes</h2>
    <% if @characters.size > 0 %>
      <%= react_component('List', @props[:characters])%>
      <%= react_component('MoreLink', @props[:characters])%>
    <% else %>
        <p class="empty">Viene pronto</p>
    <% end %>
  </div>

  <div class="section section_galeria">
    <h2>Galeria</h2>
  </div>

  <div class="section section_bibliografia">
    <h2>Bibliografia</h2>
  </div>
</div>

