<!DOCTYPE html>
<html>
  <head>
    <title>Historias Interesantes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header class='site-header'>
  		<h1><%=link_to 'Historias Interesantes', root_path %></h1>
  		<img src="https://contentmapas.didactalia.net/imagenes/Usuarios/ImagenesCKEditor/5d1dada8-e23b-499e-aa70-66ad03aedbc4/0d634b00-59a1-4e68-8da3-12e635d0b4a6.jpg" alt="old image of history book">
  	</header>
    <%= yield %>
  </body>
</html>
