
<!DOCTYPE html>
<html>
  <head>
  <title>Blog de Begona Fernandez</title>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type='text/css'>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
  </head>

  <body>
    <header class='site-header collapse'>
      <h1><%= link_to "Begona Fernandez", root_path%>
      <% if admin_signed_in? %>
        <%= link_to('.', destroy_admin_session_path, method: :delete) %>
      <% else %>
        <%= link_to ".", new_admin_session_path %>
      <% end %>
      </h1>
    </header>

    <div class ='content'>
      <div id="siteHeaderCollapse" class="btn btn-info navbar-btn">
        <i class="fa fa-bars"></i>
      </div>
      <%= yield %>
    </div>

    <div class="overlay">
    <div>

    <script type="text/javascript">
    function validateForm() {
      var forms = document.getElementsByClassName('form');
      var inputs = document.getElementsByClassName('field');
      var errorMessage = document.getElementById('error');

      if (forms.length > 0) {
        [].forEach.call(forms, function(form) {
          form.addEventListener('submit', function(event) { 
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
              [].forEach.call(inputs, function(input) {
                if (!input.validity.valid) {
                  input.style.border = '1px solid red';
                  input.nextElementSibling.classList.add('active');
                }
              });
            }
          }, false);
        });

        [].forEach.call(inputs, function(input) {
          input.addEventListener('input', function() {
            if (input.validity.valid) {
              input.style.border = '1px solid #384A5F';
              input.nextElementSibling.classList.remove('active');
            }
          });
        });
      };
    };

    $(document).ready(function () {

      $('#siteHeaderCollapse').on('click', function () {
        $('.site-header').addClass('active');
        $('.overlay').fadeIn();
      });

      $('.overlay').on('click', function () {
        $('.site-header').removeClass('active');
        $('.overlay').fadeOut();
      });

      validateForm();

    });
    </script>
  </body>
</html>
