<!DOCTYPE html>
<html>
  <head>
    <title>Historias Interesantes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header class='site-header'>
    <%= link_to image_tag("http://revistamito.com/wp-content/uploads/2014/04/momentos.jpg", alt: "Historias"), root_path %>


    <!-- http://1.bp.blogspot.com/-HSauwoycRk0/VpOI8l4YjeI/AAAAAAAAPCE/J9RLXD4YPdw/s1600/culturaespa%25C3%25B1ola.jpg --><!--  imagen del mapa de espana con iconos historicos -->
<!--     https://1.bp.blogspot.com/-TPOtlXTxY28/Wgiedm3N7UI/AAAAAAAASDg/5sEznLe2k9greY-xftwnkpxViWSiLF3RgCLcBGAs/s320/banderasespana2.jpg imagen de las diferentes banderas de espana -->
  	</header>
    <%= yield %>
  </body>
</html>
